

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid black;
	display: flex; /* nav bar!*/
	flex-direction: column;
	justify-content: flex-start;
    /* align-items: flex-start; */
}

span {
    flex: 0 0 4%;    
}
th, td {
	padding: 4%;
}

table {
	margin-left: 2%;
	padding: 0%;
}
