

table {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex; /* nav bar!*/
	flex-direction: column;
	justify-content: flex-start;
	/* width: 50%; */
	/* align-items: flex-start; */
}

.al-table {
	border: 1px solid red;
}
.nl-table {
	border: 1px solid blue;
}

th, tr, td {
	display: flex;
	flex: 0 0 10%;
} 



