body {
	font-family: Arial, Helvetica, sans-serif;
}

.AL-table, .NL-table {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex; /* nav bar!*/
	flex-direction: column;
	justify-content: flex-start;
	width: 99%;
	/* align-items: flex-start; */
}

.AL-table {
	border: 1px solid red;
}
.NL-table {
	border: 1px solid blue;
}

.summaryTable {
	border: 1px solid black;
	list-style-type: none;
	padding: 1px;
	margin-bottom: 1px;
	display: flex; /* nav bar!*/
	flex-direction: column;
	justify-content: space-around;
	width: 99%;
	/* align-items: flex-start; */
}

th, tr, td {
	display: flex;
	flex: 0 0 7%;
} 



